<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.order.mapper.OrderLogMapper">
  <resultMap id="BaseResultMap" type="com.example.orderApi.domain.OrderLog">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="operater" jdbcType="VARCHAR" property="operater" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="order_status" jdbcType="CHAR" property="orderStatus" />
    <result column="pay_status" jdbcType="CHAR" property="payStatus" />
    <result column="consign_status" jdbcType="CHAR" property="consignStatus" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="money" jdbcType="INTEGER" property="money" />
    <result column="username" jdbcType="VARCHAR" property="username" />
  </resultMap>
  <sql id="Base_Column_List">
    id, operater, operate_time, order_id, order_status, pay_status, consign_status, remarks, 
    money, username
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from web_order.tb_order_log
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from web_order.tb_order_log
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.orderApi.domain.OrderLog">
    insert into web_order.tb_order_log (id, operater, operate_time,
      order_id, order_status, pay_status, 
      consign_status, remarks, money, 
      username)
    values (#{id,jdbcType=VARCHAR}, #{operater,jdbcType=VARCHAR}, #{operateTime,jdbcType=TIMESTAMP}, 
      #{orderId,jdbcType=VARCHAR}, #{orderStatus,jdbcType=CHAR}, #{payStatus,jdbcType=CHAR}, 
      #{consignStatus,jdbcType=CHAR}, #{remarks,jdbcType=VARCHAR}, #{money,jdbcType=INTEGER}, 
      #{username,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.orderApi.domain.OrderLog">
    insert into web_order.tb_order_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="operater != null">
        operater,
      </if>
      <if test="operateTime != null">
        operate_time,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="payStatus != null">
        pay_status,
      </if>
      <if test="consignStatus != null">
        consign_status,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="username != null">
        username,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="operater != null">
        #{operater,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="payStatus != null">
        #{payStatus,jdbcType=CHAR},
      </if>
      <if test="consignStatus != null">
        #{consignStatus,jdbcType=CHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.orderApi.domain.OrderLog">
    update web_order.tb_order_log
    <set>
      <if test="operater != null">
        operater = #{operater,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="payStatus != null">
        pay_status = #{payStatus,jdbcType=CHAR},
      </if>
      <if test="consignStatus != null">
        consign_status = #{consignStatus,jdbcType=CHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.orderApi.domain.OrderLog">
    update web_order.tb_order_log
    set operater = #{operater,jdbcType=VARCHAR},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      order_id = #{orderId,jdbcType=VARCHAR},
      order_status = #{orderStatus,jdbcType=CHAR},
      pay_status = #{payStatus,jdbcType=CHAR},
      consign_status = #{consignStatus,jdbcType=CHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      money = #{money,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>