<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <!--  <properties resource="jdbc.properties" />
         -->
    <!--location 数据库驱动jar包的绝对路径-->
    <classPathEntry
            location="G:/java/jar/repository/mysql/mysql-connector-java/8.0.22/mysql-connector-java-8.0.22.jar"/>
    <!--配置 table 表信息内容体, targetRuntime 指定采用 MyBatis 的版本-->
    <context id="msqlTables" targetRuntime="MyBatis3">
        <!--抑制生成注释(英文)-->
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>
        <!--配置数据库连接信息-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://192.168.72.132:3306/web_goods"
                        userId="admin"
                        password="123456">
            <!--解决mysql8.0以后重复生成所有表的问题,原因为表名称格式不符合标准-->
            <!--<property name="nullCatalogMeansCurrent" value="true" />-->
        </jdbcConnection>
        <!--生成 domain , targetPackage 指定目标包名,
        targetProject 指定生成的 domain 放在哪个项目下
        此处为相对路径 表示 当前目录的 src/main/java 下的目标包, 可以自动创建包-->
        <javaModelGenerator targetPackage="com.example.goodsApi.domain"
                            targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="false"/>
        </javaModelGenerator>
        <!--生成 mapper.xml-->
        <sqlMapGenerator targetPackage="com.example.goods.mapper"
                         targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>
        <!--生成 mapper 接口-->
        <javaClientGenerator type="XMLMAPPER"
                             targetPackage="com.example.goods.mapper"
                             targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>
        <!--数据库表名以及对应的 java domain类 名, 有几个表就要写几个-->
        <table tableName="tb_album" domainObjectName="Album"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false"/>
        <table tableName="tb_brand" domainObjectName="Brand"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false"/>
        <table tableName="tb_category" domainObjectName="Category"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false"/>
        <table tableName="tb_category_brand" domainObjectName="CategoryBrand"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false"/>
        <table tableName="tb_para" domainObjectName="Para"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false"/>
        <table tableName="tb_pref" domainObjectName="Pref"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false"/>
        <table tableName="tb_sku" domainObjectName="Sku"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false"/>
        <table tableName="tb_spec" domainObjectName="Spec"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false"/>
        <table tableName="tb_spu" domainObjectName="Spu"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false"/>
        <table tableName="tb_stock_back" domainObjectName="StockBack"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false"/>
        <table tableName="tb_template" domainObjectName="Template"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false"/>

    </context>
</generatorConfiguration>